<div class="container">
  <% @user.weeks.each do |week| %>
    <%= week.week_num %>
  <% end %>
  <%= simple_form_for [@user, @week] do |f| %>
    <%= f.submit "+", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <h1> Bla </h1>
  <% if @current_week.nil? != true %>
    <%= @current_week.week_num %>
  <% else %>
    <p>You haven't added any weeks yet</p>
  <% end %>

</div>
