<div class="container">
  <% @user.weeks.each do |week| %>
    <%= week.week_num %>
  <% end %>
  <%= simple_form_for [@user, @week] do |f| %>
    <%= f.submit "+", class: "btn btn-primary" %>
  <% end %>
</div>


