// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


:root {
  font-size: 16px;
  font-family: 'Gilroy-Medium';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #17171A;
  --bg-secondary: #222228;
  --transition-speed: 600ms;
  }

body {
  color: #ffffff;
  background-color: #17171A;
  margin: 0;
  padding: 120px 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #222228;
}

body::-webkit-scrollbar-thumb {
  background: #FF3656;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.content-wrapper {
  width: 900px;
  margin: auto;
}


h1 {
  font-family: 'Gilroy-Bold';
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Gilroy-Bold';
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
